@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.App {
  text-align: center;
}

.App-heading {
  color: rgb(132, 132, 180);
  font-family: 'Baloo 2', cursive;
}

.News {
 padding: 15px;
}

.News-heading {
  color: rgb(134, 134, 244);
  font-family: 'Baloo 2', cursive;
}

.News-intro {
  color: rgb(26, 26, 96);
  background-color: rgb(231, 231, 110);
}
